[url "https://"]
	insteadOf = git://
[user]
	name = lukehedger
[credential]
	helper = osxkeychain
[color]
	ui = true
[push]
	default = simple
[alias]
	today = !git log --since=midnight --author=\"$(git config user.name)\" --oneline
	yday = !git log --since=day.before.yesterday.midnight --until=midnight --author=\"$(git config user.name)\" --oneline
	co = !git checkout
	pu = !git push -u
	ci = !git commit -m
	cin = !git commit --no-verify -m
	ad = !git add .
	br = !git branch
