"*":
  core:
    audioBeep: false
    themes: [
      "one-dark-ui"
      "ariake-dark-syntax"
    ]
    titleBar: "custom"
  editor:
    fontFamily: "Operator Mono"
    fontSize: 16
    invisibles: {}
    softWrap: true
  "recent-files":
    updated: false
  tabs:
    usePreviewTabs: true
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  whitespace: {}
